<mat-toolbar class="opacity">
  <mat-toolbar-row>
    <a class="separate" (click)="onViewDash()" mat-button>Dashboard</a>
    <a class="separate" (click)="onViewPage()" mat-button>Usuarios</a>

    <div style="text-align: end;" class="col">

      <mat-label class="btn btn-outline-success">{{title}}</mat-label>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="col-md-3">
  <button matTooltip="Regresar" matTooltipPosition="left" mat-icon-button class="mr-16" [routerLink]="'/login'">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>
<div class="container m-5">
  <router-outlet></router-outlet>
</div>

