<mat-toolbar class="opacity">
  <mat-toolbar-row>
    <a class="separate" (click)="onViewDash()" mat-button>Dashboard</a>
    <a class="separate" (click)="onViewPage()" mat-button>Usuarios</a>

    <div style="text-align: end;" class="col">
      <mat-label style="padding-right: 2rem;">{{title}}</mat-label>

      <mat-label matTooltip="Salir" matTooltipPosition="right" class="btn btn-outline-success" (click)="fnSalir()">Salir
      </mat-label>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container m-5">
  <router-outlet></router-outlet>
</div>
