<mat-card>
  <mat-card-content>
    <div class="header">
      <h1>BIENVENIDO</h1>
    </div>
    <form (ngSubmit)="onLogin()" name="loginForm" [formGroup]="loginForm">
      <div class="emailInput">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input autocomplete="off" formControlName="email" matInput placeholder="Enter email address" required />
          <mat-error *ngIf="!loginForm.controls['email'].valid">
            Correo es requerido
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <div class="row"></div>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput [type]=" hide ? 'password' : 'text'" required />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
            [attr.aria-pressed]="hide">
            <mat-icon>
              {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
          </button>
          <mat-error *ngIf="!loginForm.controls['password'].valid">
            Contraseña es requerida
          </mat-error>
        </mat-form-field>
      </div>
      <button style="width: -webkit-fill-available;" routerLink="/navbar" mat-flat-button color="primary">Login</button>
    </form>

    <div class="row">
      <div style="margin: 9px;" class="col-md-4">
        <p>¿No tienes cuenta?</p>
      </div>
      <div style="margin: 9px;" class="col-md-4">
        <span>
          <a class="text-link" class="aLink" routerLink="/registroUser">Registrarme</a>
        </span>

      </div>
    </div>


  </mat-card-content>
</mat-card>
