.example-spacer {
  flex: 1 1 auto;
}

.card {
  height: 23rem;
  background: #0B3861;  /* fallback for old browsers */
  border-radius: 2rem;



}

.alingText {
  text-align: center;
}

.stilos {
  font-size: 2rem;
  text-align: center;
}

h1, h2,ul, li,button, a,mat-label{
  color: white;
}
