<!-- PRIMERA SECCION -->
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Clima</h2>
        <hr>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">País seleccionado</h2>
        <hr>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Paises disponibles</h2>
        <hr>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

</div>

<br>
<!-- SEGUNDA SECCION -->
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Tareas pendientes</h2>
        <hr>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Hora</h2>
        <hr>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

</div>

<br>
<!-- TERCERA SECCION -->
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Tareas completadas</h2>
        <hr>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Zonas horarias disponibles</h2>
        <hr>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

</div>
